.feedback {
}
.feedback-text {
    margin: 0 0 33px 0;

    &__description{
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 12px;
        line-height: 18px;
        margin: 0 0 22px 0;
        padding: 0;
        color: #464646;
        &:last-child{
            margin: 0;
        }
    }
}

.feedback-form {

    &__input {
        display: block;
        font-family: 'Bebas Neue', cursive;
        width: 100%;
        max-width: 215px;
        padding: 11px 0 11px 11px;
        margin: 0 0 12px 0;
        font-size: 14px;
        color: #464646;
        border: 1px solid #f4f4f4;
        background-color: #fafafa;

        &_message {
            width: 100%;
            max-width: 490px;
            min-height: 200px;
            padding: 11px ;
        }
    }

    &__submit{
        color: #474747;
        font-size: 16px;
        background-color: transparent;
        border: none;
        outline: none;
        font-family: 'Bebas Neue', cursive;
        transition: ease all .3s;
        position: relative;
        &::before{
            content: url(../img/svg/arrows.svg);
        }
        &:hover{
            font-size: 18px;
        }
    }

    &_indent{
        margin: 0 0 240px 0;
    }
}


