.page-footer {
    background-color: #fbfbfb;
    padding-bottom: 25px;
    box-sizing: border-box;
    .container {
        padding-top: 8px;
        display: flex;
        justify-content: flex-end;
    }
}
.top-line {
    background: repeating-linear-gradient(135deg,  #cecece, #cecece 1px, #fff 1px, #fff 4px);
    height: 5px;
    width: 100%;
}

.copyright,.develop {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #9b9b9b;
    span{
        color: #6e6e6e;

    }
}

