
@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('../fonts/HarmoniaSansProCyr-Light/HarmoniaSansProCyr-Light.eot');
    src: url('../fonts/HarmoniaSansProCyr-Light/HarmoniaSansProCyr-Light.eot') format('embedded-opentype'),
        url('../fonts/HarmoniaSansProCyr-Light/HarmoniaSansProCyr-Light.woff2') format('woff2'),
        url('../fonts/HarmoniaSansProCyr-Light/HarmoniaSansProCyr-Light.woff') format('woff'),
        url('../fonts/HarmoniaSansProCyr-Light/HarmoniaSansProCyr-Light.ttf') format('truetype'),
        url('../fonts/HarmoniaSansProCyr-Light/HarmoniaSansProCyr-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('../fonts/HarmoniaSansProCyr-Regular/HarmoniaSansProCyr-Regular.eot');
    src: url('../fonts/HarmoniaSansProCyr-Regular/HarmoniaSansProCyr-Regular.eot') format('embedded-opentype'),
        url('../fonts/HarmoniaSansProCyr-Regular/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
        url('../fonts/HarmoniaSansProCyr-Regular/HarmoniaSansProCyr-Regular.woff') format('woff'),
        url('../fonts/HarmoniaSansProCyr-Regular/HarmoniaSansProCyr-Regular.ttf') format('truetype'),
        url('../fonts/HarmoniaSansProCyr-Regular/HarmoniaSansProCyr-Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('../fonts/HarmoniaSansProCyr-SemiBd/HarmoniaSansProCyr-SemiBd.eot');
    src: url('../fonts/HarmoniaSansProCyr-SemiBd/HarmoniaSansProCyr-SemiBd.eot') format('embedded-opentype'),
        url('../fonts/HarmoniaSansProCyr-SemiBd/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
        url('../fonts/HarmoniaSansProCyr-SemiBd/HarmoniaSansProCyr-SemiBd.woff') format('woff'),
        url('../fonts/HarmoniaSansProCyr-SemiBd/HarmoniaSansProCyr-SemiBd.ttf') format('truetype'),
        url('../fonts/HarmoniaSansProCyr-SemiBd/HarmoniaSansProCyr-SemiBd.svg#') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('../fonts/HarmoniaSansProCyr-Bold/HarmoniaSansProCyr-Bold.eot');
    src: url('../fonts/HarmoniaSansProCyr-Bold/HarmoniaSansProCyr-Bold.eot') format('embedded-opentype'),
        url('../fonts/HarmoniaSansProCyr-Bold/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
        url('../fonts/HarmoniaSansProCyr-Bold/HarmoniaSansProCyr-Bold.woff') format('woff'),
        url('../fonts/HarmoniaSansProCyr-Bold/HarmoniaSansProCyr-Bold.ttf') format('truetype'),
        url('../fonts/HarmoniaSansProCyr-Bold/HarmoniaSansProCyr-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('../fonts/HarmoniaSansProCyr-Black/HarmoniaSansProCyr-Black.eot');
    src: url('../fonts/HarmoniaSansProCyr-Black/HarmoniaSansProCyr-Black.eot') format('embedded-opentype'),
        url('../fonts/HarmoniaSansProCyr-Black/HarmoniaSansProCyr-Black.woff2') format('woff2'),
        url('../fonts/HarmoniaSansProCyr-Black/HarmoniaSansProCyr-Black.woff') format('woff'),
        url('../fonts/HarmoniaSansProCyr-Black/HarmoniaSansProCyr-Black.ttf') format('truetype'),
        url('../fonts/HarmoniaSansProCyr-Black/HarmoniaSansProCyr-Black.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia Sans Pro Cyr';
    src: url('../fonts/HarmoniaSansProCyr-Italic/HarmoniaSansProCyr-Italic.eot');
    src: url('../fonts/HarmoniaSansProCyr-Italic/HarmoniaSansProCyr-Italic.eot') format('embedded-opentype'),
        url('../fonts/HarmoniaSansProCyr-Italic/HarmoniaSansProCyr-Italic.woff2') format('woff2'),
        url('../fonts/HarmoniaSansProCyr-Italic/HarmoniaSansProCyr-Italic.woff') format('woff'),
        url('../fonts/HarmoniaSansProCyr-Italic/HarmoniaSansProCyr-Italic.ttf') format('truetype'),
        url('../fonts/HarmoniaSansProCyr-Italic/HarmoniaSansProCyr-Italic.svg') format('svg');
    font-weight: normal;
    font-style: italic;
}


