@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$wight-color: #fff;
$green-color: #65e49c;
$gray-bg: #f5f6fa;
$white-bg: #fff;

//---------------------------general style--------------------------------//

body{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.75px;
}

.wrap{
    max-width: 1170px;
    margin: 0 auto;
    padding:0 15px;
}

p,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

h1{
    color: #44444f;
    font-size: 48px;
    line-height: 44px;
    letter-spacing: 1.92px;
}

h3{
    color: #44444f;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1.2px;
}

.page__gray{
    background-color: $gray-bg;
}


.block-text{
    line-height: 44px;
    flex-basis: calc(100% - 455px);
    padding-left: 4%;
    box-sizing: border-box;
    &__name{
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.9px;
        padding-bottom: 23px;
        margin-top: -10px;
    }
    &__title{
        color: $wight-color;
        margin-left: -3px;
        padding-bottom: 28px;
        font-weight: 700;
        font-size: 48px;
        letter-spacing: 2.1px;
        & span{
            display: block;
            padding-top: 4px;
            padding-left: 2px;
            color: $green-color;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.9px;
        }
    }
    &__description{
        margin-left: -2px;
        padding-bottom: 24px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.75px;
        width: 87%;
    }
    &__btn{
        display: block;
        border-radius: 3px;
        background: -webkit-gradient(linear, right bottom, left top, from(#65e4ce), to(#65e4a1));
        background: linear-gradient(to top left, #65e4ce, #65e4a1);
        text-decoration: none;
        color: $wight-color;
        font-size: 18px;
        letter-spacing: 0.72px;
        margin-top: 23px;
        margin-bottom: 19px;
        padding: 2px 25px;
        width: 200px;
        text-align: center;
        box-shadow: 0 -2px #adedbb inset;
    }
    &__small{
        font-size: 12px;
        font-style: italic;
        display: block;
        line-height: 22px;
        margin-left: -2px;
    }
}
// --------------------------------------------//
.page-main{
    background-image: url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $wight-color;
    position: relative;
    .header{
        max-width: 1170px;
        margin: 0 auto;
        font-family: 'Open Sans', sans-serif;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
                align-items: center;
        padding:50px 15px 177px;
        @media(max-width: 900px){
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                    flex-direction: column;
            padding-bottom: 15 0px;
        }
        &__logo{
            background-image: url(../img/logo.svg);
            background-repeat: no-repeat;
            width: 137px;
            height: 28px;
            @media(max-width: 900px){
                padding-bottom: 30px;
            }
        }
        &-list{
            list-style-type: none;
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: end;
                    justify-content: flex-end;
            &__item{
                margin-left: 20px;
                padding-bottom: 5px;
                border-bottom: 3px solid transparent;
                -webkit-transition: 0.3s;
                transition: 0.3s;
                &.active{
                    border-bottom: 3px solid $green-color;
                }
                &:hover{
                    border-bottom: 3px solid $green-color;
                }
            } 
            &__item>a{
                color: $wight-color;
                text-decoration: none;
                letter-spacing: 0.8px;
            }
        }
    }
    .block-book{
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        padding-bottom: 162px;
        &-img{
            background-image: url(../img/book.svg);
            background-repeat: no-repeat;
            flex-basis: 455px;
            height: 639px;
            position: relative;
            &__title{
                color: $wight-color;
                text-transform: uppercase;
                font-size: 36px;
                font-weight: 700;
                position: absolute;
                width: 100%;
                left: 100px;
                top: 118px;
                padding-left: 30px;
                & span{
                    font-family: 'Open sans', sans-serif;
                    display: block;
                    color: $green-color;
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: none;
                    position: absolute;
                    letter-spacing: 0.7px;
                    padding-left: 1px;
                    margin-top: 10px;
                }
            }
            &__author{
                color: $green-color;
                position: absolute;
                bottom: 52px;
                left: 85px;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
            }
        }
        .block-text__btn{
            background: #65e4a2;
        }

    }
}

.block-author{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding-top: 160px;
    .block-text{
        width: calc(100% - 435px);
        @media(max-width: 1100px){
            -webkit-box-pack: start;
                    justify-content: flex-start;
        }
        &__name{
            padding-top: 15px;
            padding-bottom: 13px;
            color: #696980;
        }
        &__title{
            letter-spacing: 1.92px;
            color: #44444f;
        }
        &__description{
            @media(max-width: 1100px){
                width: 100%;
            } 
        }
        &__btn{
            padding: 2px 18px;
            box-shadow: 0 -2px #adedbb inset;
        }
    } 
    &__img{
        background-image: url(../img/portrait_1_bg.svg);
        background-repeat: no-repeat;
        width: 435px;
        height: 558px;
        position: relative;
        @media(max-width: 1100px){
            width: 362px;
            height: 464px;
        }
            &>img{
            position: absolute;
            left: -48px;
            top: 48px;
            @media(max-width: 1100px){
                width: 350px;
                height: 372px;
                top: 43px;
            }
        } 
    } 
}

.block-counter{
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 163px 0 150px;
    &__item{
        font-size: 80px;
        font-weight: 100;
        color: $green-color;
        line-height: 44px;
        & span{
            font-family: 'Open Sans', sans-serif;
            font-size: 18px;
            color: #696980;
            display: block;
            margin-top: 25px;

        }
    }
}

.page{
    &-title{
        text-align: center;
        line-height: 44px;
        padding: 154px 0 4px;
        font-weight: 700 ;
    }
    &-subtitle{
        text-align: center;
        color: $green-color;
        font-size: 18px;
        line-height: 44px;
        letter-spacing: 0.9px;
        margin-bottom: 72px;
    }
}

.block-about{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin-top: 72px;
    padding-bottom: 255px;
    @media(max-width: 1024px){
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: center;
                align-items: center;
        padding-bottom: 0;
    }
    &-text{
        flex-basis: calc(100% - 570px);
        box-sizing: border-box;
        padding-right: 25px;
        @media(max-width: 1024px){
            padding-right: 0;
            text-align: center;
        }
        &__title{
            margin-bottom: 20px;
        }
        &__description{
            font-family: 'Open Sans', sans-serif;
            max-width: 480px;
            @media(max-width: 1024px){
                max-width: 100%;
            }
        }
        &__social{
            display: -webkit-box;
            display: flex;
            margin-top: 31px;
            @media(max-width: 1024px){
                display: -webkit-box;
                display: flex;
                -webkit-box-pack: center;
                        justify-content: center;
                margin-top: 15px;
                margin-bottom: 72px;
            }
            & p{
                color: #44444f;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 0.9px;
                margin-right: 25px;
            }
            &-list{
                list-style-type: none;
                padding: 0;
                margin: 0;
                & li{
                    display: inline-block;
                    padding-right:11px;
                    font-size: 18px;
                    & a{
                        color: $green-color;
                    }
                }
            }
        }
    
    }
    &-table{
        flex-basis: 575px;
        box-sizing: border-box;
        @media(max-width: 1024px){
            flex-basis: unset;
            padding-bottom: 100px;
        }
        & h3{
            padding-bottom: 10px;
            @media(max-width: 1024px){
                text-align: center;
            }
        }
        &__list{
            font-family: 'Open Sans', sans-serif;
            padding: 0 0 0 35px;
            -webkit-column-count: 2;
               -moz-column-count: 2;
                    column-count: 2;
            counter-reset: list;
            -webkit-column-gap: 63px;
               -moz-column-gap: 63px;
                    column-gap: 63px;
            &>li{
                list-style-type: none;
                padding: 0;
                margin: 0 0 8px;
                position: relative;
                color: #696980;
                font-family: 'Open sans', sans-serif;
                font-size: 15px;
                font-weight: 400;
                &::after{
                    content: "+";
                    width: 22px;
                    height: 22px;
                    line-height: 20px;
                    text-align: center;
                    color: white;
                    background-color:#5fc9b5;
                    position: absolute;
                    left: -34px;
                    top: 3px;
                }
                &::before{
                    counter-increment: (list);
                    content: counter(list) ".";
                    padding-right: 5px;
                }
            }
        }
        & button{
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
                    align-items: center;
            background: -webkit-gradient(linear, right bottom, left top, from(#65e4ce), to(#65e4a1));
            background: linear-gradient(to top left, #65e4ce, #65e4a1);
            font-size: 18px;
            letter-spacing: 0.72px;
            color: $wight-color;
            border: none;
            border-radius: 3px;
            padding: 15px 45px;
            text-align: center;
            margin-top: 27px;
            box-shadow: 0 -2px #adedbb inset;
            @media(max-width: 1024px){
                text-align: center;
                display: -webkit-box;
                display: flex;
                -webkit-box-pack: center;
                        justify-content: center;
                margin: 25px auto ;
            }
            &:hover{
                cursor: pointer;
            }
            &:focus{
                outline: none;
            }
        }
    }
}

.page-books{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    .block-books{
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
        &-item{
            display: -webkit-box;
            display: flex;
            -webkit-box-align: center;
                    align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                    flex-direction: column;
            &-img{
                display: -webkit-box;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                        flex-direction: column;
                -webkit-box-pack: justify;
                        justify-content: space-between;
                -webkit-box-align: center;
                        align-items: center;
                background-image: url(../img/other_books.svg);
                background-repeat: no-repeat;
                width: 270px;
                height: 410px;
                border-radius: 3px;
                &__title{
                    margin-top: 80px;
                    text-align: center;
                    color: $wight-color;
                    font-size: 24px;
                    font-weight: 700;
                    letter-spacing: 0.96px;
                    text-transform: uppercase;
                    margin-left: 33px;
                    margin-top: 71px;
                    & span{
                        display: block;
                        color: $green-color;
                        text-transform: none;
                        font-size: 12px;
                        letter-spacing: 0.6px;
                        font-weight: 400;
                        font-family: 'Open sans', sans-serif;
                        margin-top: 7px;
                    }
                }
                &__author{
                    font-family: 'Open sans', sans-serif;
                    letter-spacing: 0.6px;
                    color: $green-color;
                    font-size: 12px;
                    margin-bottom: 28px;
                    margin-left: 20px;
                }
            }
            &-text{
                display: -webkit-box;
                display: flex;
                -webkit-box-align: center;
                        align-items: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                        flex-direction: column;
                text-align: center;
                &__title{
                    letter-spacing: 1.3px;
                    color: #44444f;
                    line-height: 24px;
                    margin-top: 35px;
                    font-size: 24px;
                }
                &__description{
                    font-size: 15px;
                    font-family: 'Open sans', sans-serif;
                    font-weight: 400;
                    color: #696980;
                    line-height: 24px;
                    margin: 16px 0 16px;
                    width: 90%;
                }
                &__read-more{
                    text-decoration: none;
                    color: $green-color;
                    text-transform: uppercase;
                    font-family: 'Open sans', sans-serif;
                    font-weight: 700;
                    letter-spacing: 0.75;
                }
            }
        }
    } 
    &__btn{
        background: -webkit-gradient(linear, right bottom, left top, from(#65e4ce), to(#65e4a1));
        background: linear-gradient(to top left, #65e4ce, #65e4a1);
        color: $white-bg;
        font-size: 18px;
        border: none;
        padding: 16px 40px;
        margin-top: 90px;
        margin-bottom: 150px;
        border-radius: 3px;
        position: relative;
        box-shadow: 0 -2px #adedbb inset;
        &:focus{
            outline: none;
        }
        &:hover{
            cursor: pointer;
        }
    } 
}

.page-events{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin-top: 380px;
    @media(max-width: 1600px){
        margin-top: 300px;
    }
    @media(max-width: 1250px){
        margin-top: 200px;
    }
    .block-shower__img{
        background-image: url(../img/portrait_2_bg.svg);
        background-repeat: no-repeat;
        width: 435px;
        height: 704px;
        position: relative;
        &>img{
            position: absolute;
            left: 51px;
            top: 49px;
        }
    }
    .block-text{
        flex-basis: 49%;
        line-height: 24px;
        font-family: 'Open Sans', sans-serif;
        &__name{
            font-size: 18px;
            line-height: 44px;
            letter-spacing: 0.9px;
            color: #696980;
            padding-bottom: 14px;
        }
        &__title{    
            font-family: 'Roboto Slab', serif;
            color: #44444f;
            letter-spacing: 1.8px;
            padding-bottom: 31px;
            & span{
                font-weight: 400;
                letter-spacing: 1px;
            }
        }
        &-item{
            margin-bottom: 55px;
            &__date{
                color: #696980;
                letter-spacing: 0.75px;
                display: inline-block;
                margin-left: -3px;
                margin-bottom: 4px;

            }
            &__place{                
                font-family: 'Roboto Slab', serif;
                font-weight: 700;
                font-size: 18px;
                color: #44444f;
                margin-left: -1px;
                margin-bottom: 17px;
            }
            &__description{
                margin-left: -2px;
                margin-bottom: -3px;
            }
            &__btn{
                font-family: 'Roboto Slab', serif;
                font-size: 18px;
                display: inline-block;
                text-decoration: none;
                background: -webkit-gradient(linear, left top, left bottom, from(#65e4ce), to(#65e4a1));
                background: linear-gradient(#65e4ce, #65e4a1);
                padding: 10px 27px 16px 34px ;
                color: $wight-color;
                border-radius: 3px;
                box-shadow: 0 -2px #b2f1be inset;
                margin-top: 29px;
                margin-left: -2px;
            }
        }
    }
}


.page-blog .wrap{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;  
    .block-blog{
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
        &-item{
            margin: 0 15px;
        }
        & + .page__btn{
            margin: 82px auto 150px;
            text-decoration: none;
            background: -webkit-gradient(linear, right bottom, left top, from(#65e4ce), to(#65e4a1));
            background: linear-gradient(to top left, #65e4ce, #65e4a1);
            color: #fff;
            font-size: 18px;
            border: none;
            padding: 16px 31px 14px 34px;
            border-radius: 3px;
            box-shadow: 0 -2px #adedbb inset;
        }
        &-img{
            margin-bottom: 10px;
            &>img{
                width: 100%;
            }
        }
        &-item h4{
            font-size: 18px;
            color: #44444f;
            letter-spacing: 0.9px;
        }
        &-info{
            font-size: 15px;
            margin-bottom: 11px;
            line-height: 30px;
            & p{
                display: inline;
            }
            &>a{
                text-decoration: none;
                color: #65e496;
                & span{
                    color: #80809b;
                }
            }
        }
        &__desc{
            font-family: 'Open sans', sans-serif;
            font-size: 15px;
            color: #696980;
            letter-spacing: 0.75px;
        }
    }
}

.block-letter{
    padding-top: 162px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    &-item{
        flex-basis: 49%;
    }
    &__text{
        font-family: 'Open Sans', sans-serif;
        color: #696980;
    }

    &__title{
        margin-bottom: 13px;
    }
    &__input{
        color: #9191b5;
        width: 100%;
        box-sizing: border-box;
        background-color: #44444f;
        border: none;
        border-radius: 3px;
        padding: 15px 0 15px 26px;
        letter-spacing: 0.75px;
        &:focus{
            outline: none;
        }
    }
    &__btn{
        background: -webkit-gradient(linear, right bottom, left top, from(#65e4ce), to(#65e4a1));
        background: linear-gradient(to top left, #65e4ce, #65e4a1);
        color: $white-bg;
        font-size: 18px;
        border: none;
        padding: 16px 0;
        margin-top: 20px;
        margin-bottom: 150px;
        border-radius: 3px;
        position: relative;
        box-shadow: 0 -2px #adedbb inset;
        display: block;
        width: 100%;
        &:focus{
            outline: none;
        }
        &:hover{
            cursor: pointer;
        }
    }
}

.page-footer{
    background-color: #44444f;
    color: #9191b5;
    padding: 80px 0;
}



.block-footer{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    &>div{
        flex-basis: 31.5%;
    }
    &-item2,&-item3{
        box-sizing: border-box;
        padding-left: 99px;
    }
    &__logo{
        display: block;
        background-image: url(../img/logo.svg);
        background-repeat: no-repeat;
        width: 137px;
        height: 28px;
        margin-bottom: 26px;
    }
    &__title{
        font-size: 18px;
        color: $green-color;
        text-transform: uppercase;
        margin: 10px 0 20px;
        font-family: 'Roboto Slab', serif;
        font-weight: 700;
        letter-spacing: 0.72px;
    }
    &__text{
        letter-spacing: 0.6px;
        margin-bottom: 24px;
    }
    &__list{
        list-style-type: none;
        padding-left: 0px;
        &>li>a{
            text-decoration: none;
            color: #9191b5;
            &:visited{
                color: #9191b5;
            }
            &:hover{
                color: $white-bg;
            }
        }
    }
    &__list-info{
        line-height: 27px;

    }
    &__police{
        letter-spacing: 0.6px;
    }
    &__social{
        margin-top: 10px;
        display: -webkit-box;
        display: flex;
        list-style-type: none;
        padding-left: 0px;
        &>li{
            margin-right: 12px;
            &>a{
                color: $green-color;
            }
        }
    }

}

.page-carousel{
    position: relative;
    @media(max-width: 1250px){
        background-color:#44444f;
    }
    .carousel-bg{
        z-index: -1;
        position: absolute;
        top: 0;
        width: 100%;
        @media(max-width: 1250px){
            display: none;
        }
    }
    .carousel{
        padding-top: 225px;
        text-align: center;
        @media(max-width: 1600px){
            padding-top: 160px;
        }
        @media(max-width: 1400px){
            padding-top: 120px;
        }
        @media(max-width: 1250px){
            padding-top: 50px;
            padding-bottom: 50px;
        }
        &-ava{
            display: block;
            width: 152px;
            height: 152px;
            margin: 0 auto 25px;
            position: relative;
        }
        &-thumb>img{
            border-radius: 100%;
        }
        i{
            position: absolute;
            top: -6px;
            right: -17px;
            color: $green-color;
            font-size: 50px;
        }
        &__name{    
            color: $green-color;
            font-size: 24px;
            margin-bottom: 2px;
        }
        &__expert{
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            color: #9191b5;
            line-height: 28px;
            margin-bottom: 34px;
        }
        &__description{
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
            color: #9191b5;
            max-width: 740px;
            margin: 0 auto;
            line-height: 28px;
            margin-bottom: 50px;
        }
        .slick-dots{
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
                    justify-content: center;
            li{
                padding:0;
                list-style-type: none;
                margin: 0 5px;
                width: 8px;
                height: 8px;
                button{
                    width: 8px;
                    height: 8px;
                    background-color: $green-color;
                    overflow: hidden;
                    border: none;
                    border-radius: 100%;
                    color: $green-color;
                    padding: 4px 0;
                    -webkit-transition: width 0.3s, border-radius 0.1s;
                    transition: width 0.3s, border-radius 0.1s;
                    &:focus{
                        outline: none;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            li.slick-active{
                width: 38px;
                button{
                    width: 38px;
                    border-radius: 5px;
                    -webkit-transition: width 0.3s ;
                    transition: width 0.3s ;
                }
            }
        }
    }
}
