@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Pacifico&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Medium.woff") format("woff"), url("../fonts/HelveticaNeue-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue.woff") format("woff"), url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap-660 {
  max-width: 660px;
}

.wrap-220 {
  max-width: 220px;
}

.border {
  width: 100%;
  height: 5px;
  background: repeating-linear-gradient(135deg, #cecece, #cecece 1px, #fff 1px, #fff 4px);
}

.page-header {
  color: #474747;
  margin-top: 10px;
  margin-bottom: 40px;
}

.page-header__logo {
  display: block;
  font-family: 'Pacifico', cursive;
  font-size: 42px;
  font-weight: 400;
  text-decoration: none;
  margin: .67em 0;
  color: #474747;
}

.page-header__logo:visited {
  color: #474747;
}

.page-header .container {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-nav {
  font-family: 'Bebas Neue', cursive;
}

.header-nav-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  text-transform: uppercase;
}

.header-nav-list__item {
  margin-left: 65px;
  cursor: pointer;
  font-size: 25px;
  text-decoration: none;
}

.header-nav-list__item:hover > li {
  font-size: 32px;
}

.header-nav-list__item:hover > span {
  font-size: 20px;
}

.header-nav-list__item:visited > li {
  color: #474747;
}

.header-nav-list__item:visited > span {
  color: #a5a5a5;
}

.header-nav-list__item li {
  padding-left: 0;
  margin-left: 0;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
  color: #474747;
}

.header-nav-list__item span {
  font-size: 16px;
  color: #a5a5a5;
  display: block;
  line-height: 28px;
  -webkit-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.page-articles {
  margin: 3.33% 0 70px;
}

.page-articles .flex {
  margin: 0 -5px;
}

.page-articles-block {
  margin: 0 5px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-articles-block__title {
  padding: 0 20px 0 75px;
  font-family: 'Bebas Neue', cursive;
  font-size: 26px;
  line-height: 24px;
  color: #464646;
  font-weight: 400;
}

.page-articles-block__title_serch {
  position: relative;
}

.page-articles-block__title_serch::before {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  background-image: url(../img/svg/search.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 41px;
  height: 38px;
  position: absolute;
  left: 0;
  top: 0;
}

.page-articles-block__title_star {
  position: relative;
}

.page-articles-block__title_star::before {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  background-image: url(../img/svg/star.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 41px;
  height: 38px;
  position: absolute;
  left: 0;
  top: 0;
}

.page-articles-block__title_message {
  position: relative;
}

.page-articles-block__title_message::before {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  background-image: url(../img/svg/message.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 46px;
  height: 41px;
  position: absolute;
  left: 0;
  top: 0;
}

.page-articles-block__img {
  width: 46px;
  height: 41px;
  text-align: center;
  margin-right: 32px;
}

.page-articles-block__text {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  color: #414141;
  font-weight: 500;
}

.page-articles-block__transition {
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 16px;
  line-height: 18px;
  color: #474747;
  position: relative;
  -webkit-transition: ease-in all 0.3s;
  transition: ease-in all 0.3s;
}

.page-articles-block__transition:hover {
  font-size: 18px;
}

.page-articles-block__transition::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 9px;
  background-image: url(../img/svg/arrows.svg);
  margin-right: 10px;
  background-repeat: no-repeat;
  -webkit-transition: ease-in all 0.3s;
  transition: ease-in all 0.3s;
}

.page-articles-block__transition:visited {
  color: #474747;
}

.page-articles-block__transition:hover:before {
  margin-right: 0px;
  margin-left: 5px;
  padding-left: 5px;
}

.page-work {
  margin-bottom: 62px;
}

.page-work .title_bg {
  height: 30px;
  background: repeating-linear-gradient(135deg, #cecece, #cecece 1px, #fff 1px, #fff 4px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 52px;
}

.page-work__title {
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
  display: block;
  text-align: center;
  color: #474747;
  background-color: #fff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.page-work-row {
  margin: 0 -.5%;
}

.page-work-block {
  width: 24%;
  margin: 0 .5%;
}

.page-work-block__img {
  width: 100%;
  min-width: 220px;
}

.page-work-block__title {
  font-family: 'Bebas Neue', cursive;
  font-size: 18px;
  color: #414141;
  margin: 0;
  line-height: 18px;
  margin: 12px 0 10px;
}

.page-work-block__text {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: #414141;
  max-width: 95%;
  margin: 0 0 10px;
  line-height: 18px;
}

.page-work-block__transition {
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 16px;
  line-height: 18px;
  color: #474747;
  position: relative;
  -webkit-transition: ease-in all 0.3s;
  transition: ease-in all 0.3s;
}

.page-work-block__transition:hover {
  font-size: 18px;
}

.page-work-block__transition::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 9px;
  background-image: url(../img/svg/arrows.svg);
  margin-right: 10px;
  background-repeat: no-repeat;
  -webkit-transition: ease-in all 0.3s;
  transition: ease-in all 0.3s;
}

.page-work-block__transition:visited {
  color: #474747;
}

.page-work-block__transition:hover:before {
  margin-right: 0px;
  margin-left: 5px;
  padding-left: 5px;
}

.page-footer {
  background-color: #fbfbfb;
  padding-bottom: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-footer .container {
  padding-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-line {
  background: repeating-linear-gradient(135deg, #cecece, #cecece 1px, #fff 1px, #fff 4px);
  height: 5px;
  width: 100%;
}

.copyright, .develop {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #9b9b9b;
}

.copyright span, .develop span {
  color: #6e6e6e;
}

.container .main-slider {
  position: relative;
}

.container .main-slider__item img {
  width: 100%;
  height: 100%;
}

.container .main-slider .slick-arrow {
  display: none;
  font-size: 0;
}

.container .main-slider .slick-dots {
  position: absolute;
  padding-left: 0;
  right: 10px;
  bottom: 10px;
}

.container .main-slider .slick-dots li {
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
  font-size: 0;
}

.container .main-slider .slick-dots li.slick-active button {
  opacity: 1;
}

.container .main-slider .slick-dots li button {
  background-color: #474747;
  opacity: 0.3;
  border: none;
  width: 30px;
  height: 10px;
  border-radius: 15%;
}

.container .main-slider .slick-list {
  overflow: hidden;
}

.container .main-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .page-slider-bottom-row {
  position: relative;
}

.container .page-slider-bottom-row__mask {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  bottom: 97px;
  left: 0;
  max-width: 218px;
  opacity: 1;
  background-color: #444;
  padding: 14px 17px 12px;
  text-transform: uppercase;
  position: absolute;
}

.container .page-slider-bottom-row__mask span {
  display: inline-block;
  font-size: 14px;
  color: #9a9a9a;
  opacity: 100%;
  margin-bottom: 7px;
}

.container .page-slider-bottom-row__mask p {
  margin: 0;
  font-size: 32px;
  color: #fff;
  opacity: 100%;
  letter-spacing: 2px;
}

.container .page-slider-bottom-row__info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e7e7e7;
  padding: 20px 50px 19px 17px;
}

.container .page-slider-bottom-row__info h4 {
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #474747;
  margin: 0;
  height: 14px;
  letter-spacing: 1.3px;
}

.container .page-slider-bottom-row__info p {
  height: 26px;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  color: #474747;
  margin-top: 16px;
}

.page-name__title {
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  line-height: 18px;
  margin: 0;
  color: #474747;
}

.page-name__description {
  font-family: 'Helvetica Neue', sans-serif;
  font-style: italic;
  max-width: 525px;
  color: #9e9e9e;
  margin: 13px 0 16px 0;
}

.page-name_margin {
  margin: 0 0 40px 0;
}

.page-about-article {
  max-width: 296px;
}

.page-about-article__title {
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  color: #474747;
  margin: 0 0 26px 0;
}

.page-about-article__subtitle {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #9e9d9d;
  margin: 0 0 27px 0;
}

.page-about-article__description {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: #474747;
  margin: 0 0 58px 0;
}

.page-about-article_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-about-article_margin {
  margin: 0 0 57px 0;
}

.page-about-person {
  border: 1px solid #f8f8f8;
  max-width: 299px;
}

.page-about-person-info {
  padding: 17px 18px 25px 15px;
}

.page-about-person-info__name {
  font-family: 'Bebas Neue', cursive;
  font-size: 18px;
  color: #474747;
  margin: 0 0 5px 0;
}

.page-about-person-info__post {
  font-family: 'Bebas Neue', cursive;
  font-size: 12px;
  color: #949393;
  margin: 0 0 15px 0;
  display: block;
}

.page-about-person-info__description {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #474747;
  margin: 0;
}

.page-about-person_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-about-person_margin {
  margin: 0 0 72px 0;
}

.container_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-projects-content .masonry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  max-height: 1000px;
}

.page-projects-content .masonry::before, .page-projects-content .masonry::after {
  content: "";
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 0;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.page-projects-content .masonry_margin {
  margin: 0 -8.5px;
}

.page-projects-content-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 370px;
}

.page-projects-content-filter__item {
  font-family: 'Bebas Neue', cursive;
  border-right: 2px solid #777777;
  margin: 0;
  line-height: 18px;
  font-size: 18px;
  padding: 0 10px 0 0;
  color: #9a9a9a;
}

.page-projects-content-filter__item_active {
  color: #474747;
}

.page-projects-content-filter__item:nth-child(6) {
  border-right: none;
}

.page-projects-content-block {
  max-width: 210px;
  border: 1px solid #f9f9f9;
}

.page-projects-content-block:nth-child(3n+1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.page-projects-content-block:nth-child(3n+2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.page-projects-content-block:nth-child(3n) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.page-projects-content-block__img {
  margin: 0 0 16px 0;
}

.page-projects-content-block__info {
  padding: 0 13px 19px 14px;
}

.page-projects-content-block__info-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 16px;
  margin: 0 0 5px 0;
}

.page-projects-content-block__info-filter {
  display: block;
  font-family: 'Bebas Neue', cursive;
  font-size: 12px;
  color: #949393;
  margin: 0 0 10px 0;
}

.page-projects-content-block__info-description {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #515151;
  margin: 0;
}

.page-projects-content-filter_margin {
  margin: 0 0 15px 0;
}

.page-projects-content-block_margin {
  margin: 15px 8.5px 0 8.5px;
}

.sidebar-r__title {
  font-family: 'Bebas Neue', cursive;
  color: #464646;
  font-size: 16px;
  margin: 0 0 13px 0;
  padding: 0;
  line-height: 13px;
}

.sidebar-r-about-blitz__text {
  font-family: 'Helvetica Neue', sans-serif;
  color: #464646;
  font-size: 12px;
  margin: 20px 0 33px 0;
  padding: 0;
}

.sidebar-r-categories-list {
  margin: 20px 0 30px 0;
  padding: 0;
}

.sidebar-r-categories-list__item {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-r-categories-list__item a {
  text-decoration: none;
  color: #464646;
}

.sidebar-r-categories-list__item a:visited {
  color: #464646;
}

.sidebar-r-categories-list__item a:hover {
  -webkit-text-decoration: underline solid black;
          text-decoration: underline solid black;
  cursor: pointer;
}

.sidebar-r-twitter__message {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  line-height: 14px;
  margin: 20px 0 0 0;
  padding: 0;
}

.sidebar-r-twitter__message-nickname {
  color: #bababa;
  display: inline;
}

.sidebar-r-twitter__message-nickname:hover {
  -webkit-text-decoration: underline solid black;
          text-decoration: underline solid black;
  cursor: pointer;
}

.sidebar-r-twitter__message-description {
  color: #464646;
  margin: 0 0 5px 0;
  padding: 0;
  display: inline;
}

.sidebar-r-twitter__message-time {
  color: #999999;
  display: block;
  margin: 7px 0 0 0;
  padding: 0;
}

.blog-article_indent {
  margin: 0 0 60px 0;
}

.blog-article__title {
  font-family: 'Bebas Neue', cursive;
  font-size: 16px;
  color: #464646;
  margin: 0 0 20px 0;
  padding: 0;
  text-transform: uppercase;
}

.blog-article__img {
  margin: 0 0 27px 0;
  max-width: 652px;
  max-height: 302px;
}

.blog-article-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.blog-article-stat__title {
  font-size: 16px;
  color: #464646;
  font-family: 'Bebas Neue', cursive;
  margin: 0 0 3px 0;
  padding: 0;
}

.blog-article-stat__value {
  font-size: 12px;
  color: #bababa;
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

.blog-article-stat-item {
  margin: 0 0 16px 0;
  padding: 0;
}

.blog-article-info-text {
  max-width: 500px;
}

.blog-article-info-text__description {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: #414141;
  margin: 0 0 27px 0;
  padding: 0;
}

.feedback-text {
  margin: 0 0 33px 0;
}

.feedback-text__description {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 22px 0;
  padding: 0;
  color: #464646;
}

.feedback-text__description:last-child {
  margin: 0;
}

.feedback-form__input {
  display: block;
  font-family: 'Bebas Neue', cursive;
  width: 100%;
  max-width: 215px;
  padding: 11px 0 11px 11px;
  margin: 0 0 12px 0;
  font-size: 14px;
  color: #464646;
  border: 1px solid #f4f4f4;
  background-color: #fafafa;
}

.feedback-form__input_message {
  width: 100%;
  max-width: 490px;
  min-height: 200px;
  padding: 11px;
}

.feedback-form__submit {
  color: #474747;
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Bebas Neue', cursive;
  -webkit-transition: ease all .3s;
  transition: ease all .3s;
  position: relative;
}

.feedback-form__submit::before {
  content: url(../img/svg/arrows.svg);
}

.feedback-form__submit:hover {
  font-size: 18px;
}

.feedback-form_indent {
  margin: 0 0 240px 0;
}

@media screen and (max-width: 1024px) {
  .page-work-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -1%;
  }
  .page-work-block {
    width: 48%;
    margin: 35px 1% 0;
  }
}

@media screen and (max-width: 960px) {
  .page-articles .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-articles-block {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
    text-align: center;
  }
  .page-articles-block:last-child {
    margin: 60px auto 0;
  }
  .page-articles-block__title {
    padding: 0 0 0 40px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }
  .page-articles-block__title_message {
    padding: 0 0 0 45px;
  }
  .page-articles-block__title::before {
    left: -10px;
    top: -12px;
  }
  .page-articles-block__text {
    text-align: center;
  }
}

@media screen and (max-width: 880px) {
  .page-header > .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .page-articles-block {
    max-width: none;
  }
}
