.page-project-r {
    max-width: 220px;
}
    
.sidebar-r {
    &__title {
        font-family: 'Bebas Neue', cursive;
        color: #464646;
        font-size: 12px;
        margin: 0 0 13px 0;
        padding: 0;
    }
}

.sidebar-r-about-blitz {
    &__text {
        font-family: 'Helvetica Neue', sans-serif;
        color: #464646;
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
}

.sidebar-r-about-blitz_margin{
    margin:

}

.sidebar-r-categories {
}

.sidebar-r-categories-list {
    margin: 0;
    padding: 0;
    &__item {
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 12px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        & a{
            text-decoration: none;
            &:visited{
                color: #464646;
            }

        }
    }
}

.sidebar-r-twitter {

    &__message {
    }

    &__message-nickname {
    }

    &__message-description {
    }

    &__message-time {
    }

    &__follow {
    }
}
